In [1]:
import pandas as pd
import datetime
from datetime import datetime
import streamlit as st
import streamlit.components.v1 as components
import pyodbc
from sqlalchemy import create_engine, event
from sqlalchemy.engine import URL

In [41]:
files_id = pd.read_csv('id_stasiun.csv')

conn_str = 'DRIVER={SQL Server};server=DESKTOP-ECB4MMH\SQLEXPRESS;Database=awrl;Trusted_Connection=yes;'
con_url = URL.create('mssql+pyodbc', query={'odbc_connect': conn_str})
engine = create_engine(con_url)

id_list = files_id['CODE'].tolist()
query_df = f"""select Station, pH, DO, Temp, NH4, NO3, COD, BOD, TSS, logDate,logTime from data order by logDate,logTime"""
df = pd.read_sql(query_df, engine)

df['logDate'] = pd.to_datetime(df['logDate']).dt.date
df['logTime'] = pd.to_datetime(df['logTime']).dt.floor('H').dt.time
df

,Station,pH,DO,Temp,NH4,NO3,COD,BOD,TSS,logDate,logTime
0,12,7.65,4.21,30.3,0.14,31.4,16.52072,3.67270112037659,8.5758810043335,2000-01-01,02:00:00
1,15,5.29,6.26,25.6,0,0.11,0,0,0,2000-01-01,02:00:00
2,13,1.23,2.26,30,0,0.01,34.92597,8.29199028015137,9.41179084777832,2000-01-01,02:00:00
3,13,4.33,3.44,29.3,0,0.01,107.7774,25.5789699554443,186.069152832031,2000-01-01,03:00:00
4,12,7.64,4.56,30.2,0.17,39.8,14.7247,3.27343106269836,5.72495031356812,2000-01-01,03:00:00
...,...,...,...,...,...,...,...,...,...,...,...
179878,22,7.44,4.71,30.5,627,5.08,15.83,3.53,8.7,2022-09-30,13:00:00
179879,23,6.71,0.43,28.4,0.02,13.65,34.61,7.69,6.01,2022-09-30,13:00:00
179880,15,11.4,1.06,24.8,0,0.18,0,0,0,2022-09-30,13:00:00
179881,14,7.12,0.04,31,2940,337,16.86,4.07,50.1,2022-09-30,13:00:00
179882,11,7.23,0.03,28.6,0.23,662,53.52,13.08,40.33,2022-09-30,13:00:00

In [20]:
col = data.columns
col[1]

'pH'

In [39]:
df.dtypes

dtype('int32')

In [35]:
float(df['pH'][1]) + 1

6.29

In [38]:
for i in col:
    print(i, ' ', type(data[i][1]))

Station   <class 'numpy.int64'>
pH   <class 'numpy.float64'>
DO   <class 'numpy.float64'>
Temp   <class 'numpy.float64'>
NH4   <class 'numpy.float64'>
NO3   <class 'numpy.float64'>
COD   <class 'numpy.float64'>
BOD   <class 'numpy.float64'>
TSS   <class 'numpy.float64'>

In [15]:
data = df[['Station', 'pH', 'DO', 'Temp', 'NH4', 'NO3', 'COD', 'BOD', 'TSS']]

In [18]:
data = data.apply(pd.to_numeric)

In [10]:
df['Station'] = pd.to_numeric(df['Station'])

In [ ]:
id_st = [x for x in range(11,22)]
df = df[~df['Station'].isin(id_st)]

In [23]:
df41 = data.loc[df['Station'] == '11']

In [24]:
df41.to_csv('df41.csv', index=False)

In [36]:
df41.describe()

       Station   pH   DO  Temp  NH4  NO3  COD  BOD  TSS
count      0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0
mean       NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
std        NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
min        NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
25%        NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
50%        NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
75%        NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
max        NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN

In [ ]:
from pandas_profiling import ProfileReport

In [ ]:
prof = ProfileReport(df41)

In [ ]:
prof

In [37]:
df = df['Station'].astype(int)

In [43]:
data.dtypes

Station      int64
pH         float64
DO         float64
Temp       float64
NH4        float64
NO3        float64
COD        float64
BOD        float64
TSS        float64
dtype: object